@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.breathing-container {
  height: 250px;
  width: 250px;
  position: relative;
  transform: scale(1);
    top: 100px;
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #4ca493 0%,
    #4ca493 33.33%,
    #fff 33.33%,
    #fff 66.66%,
    #336d62 66.66%,
    #336d62 100%
  );
  height: 270px;
  width: 270px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 115px;
  width: 20px;
  height: 160px;
  transform-origin: bottom center;
}

.rotate {
  animation: rotate 12s linear forwards infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.breathing-container.grow {
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.breathing-container.shrink {
  animation: shrink 4s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.breathing-text {
    position: fixed;
    text-align: center;
    top: 55%;
    left: 50%;
    overflow: hidden;
    translate: -50% -50%;
    
  color: #fff;
  font-size: 1.5rem;
}

.controls {
    position: fixed;
    text-align: center;
    top: 70%;
    left: 50%;
    overflow: hidden;
    translate: -50% -50%;
}
